<div class="d-flex flex-column">
    <div>
        <p class="col-6 msg right p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque neque est,
            viverra ac rhoncus et, cursus eu leo. Quisque in tristique libero, sed rhoncus neque. Ut at enim id ligula
            consequat tempus in nec magna. Donec vitae libero eget mi malesuada
            rutrum. Integer ornare ante at ligula venenatis, quis blandit urna euismod. </p>
    </div>
    <div>
        <p class="col-6 msg left p-3">Integer ornare ante at ligula venenatis, quis blandit urna euismod.</p>
    </div>
</div>
