// source: https://jsfiddle.net/Mikkal24/0r5snvxu/
.msg {
    border-radius: 10px;
}

.msg.right {
    background-color: #555;
    float: right;
    color: white;
}

.msg.left {
    background-color: #CCC;
}
