<div class="modal fade" data-bs-backdrop="static" tabindex="-1" #modal>
    <div class="modal-dialog" [ngClass]="modalSize">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">
                    <ng-content select="ng-container[cpSlot=title]"></ng-content>
                </h1>
            </div>
            <div class="modal-body">
                <ng-content select="ng-container[cpSlot=content]"></ng-content>
            </div>
            <div class="modal-footer">
                <ng-content select="ng-container[cpSlot=footer]"></ng-content>
            </div>
        </div>
    </div>
</div>
