<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav h-100" id="sidebar-nav">
        <div>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/chat"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="bi bi-grid"></i>
                    <span>General Chat</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/products" routerLinkActive="active" style="pointer-events: none;
            cursor: default;">
                    <i class="bi bi-grid"></i>
                    <span>Private chats</span>
                </a>
                <ul id="forms-nav" class="nav-content collapse show">
                    <ng-container *ngIf="(chatService.getRoomsForCurrentUser$() | async) as rooms">
                        <li *ngFor="let room of rooms">
                            <a routerLinkActive="active" [routerLink]="'/chat/' + room.id">
                                <i class="bi bi-circle"></i>
                                <span>{{
                                    currentUsername === room.username_one ? room.username_two :
                                    room.username_one}}</span>
                            </a>
                        </li>
                    </ng-container>

                </ul>
            </li>
        </div>
        <div>
            <li class="nav-item">
                <div class="d-flex gap-3">
                    <input [formControl]="privateChatUsernameFormControl" type="text" class="form-control">
                    <button [disabled]="!privateChatUsernameFormControl.valid" (click)="addPrivateChatRoom()"
                        type="button" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i>
                    </button>
                </div>
                <div class="form-text">
                    Type a username to start a private chat
                </div>
                <div *ngIf="privateChatUsernameFormControl.hasError('userNotFound')" class="invalid-feedback">
                    User is not found.
                </div>
            </li>
        </div>


    </ul>
</aside>
